* {
    font-family: "Cormorant", serif;
}

body {
    padding: 30px;
    margin: 0px;
    min-height: 100vh;
    max-width: 1600px;
    min-width: 720px;
    box-sizing: border-box;
    background-color: aquamarine;
}

.main-heading {
    margin-bottom: 20px;
    margin-top: 0px;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid seagreen;
    box-sizing: border-box;
    width: 600px;
    background-color: blanchedalmond;
    border-radius: 10%;
}

.card-title {
    margin-bottom: 10px;
}

.card-img {
    width: 15%;
    margin-bottom: 10px;
    float: left;
}

.txt {
    margin: 0;
}

h1 {
    height: 60px;
    width: 60px;
}

.card-title {
    height: 30px;
    width: 30px;
}