/* .nav-item {
    display: block;
}

.nav-none-markers {
    list-style-type: none;
}

.nav-square-markers {
    list-style-type: square;
}

.nav-circle-markers {
    list-style-type: circle;
} */

body {
    padding: 30px;
    margin: 0px;
    min-height: 100%;
    min-height: 100%;
    max-width: 1600px;
    min-width: 720px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
}

.card {

    margin: 20px;
    padding: 10px;
    border: black 1px;
    box-sizing: border-box;
}

.card-title {
    margin-bottom: 10px;
}

.card-img {
    width: 100%;
    margin-bottom: 10px;
}