.txt {
    font-family: Arial, Helvetica, sans-serif;
}

.main-heading {
    text-align: center; 
    font-weight: bold;
    font-size: 35px;
}

.chapter-heading {
    font-size: 23px; 
}

.sub-heading{
    font-size: 16px; 
    font-weight: normal; 
}

.link {
    font-style: italic;
}

body { 
    background-color: bisque;
} 

.dev-info {
    text-align: right;
}

.nav-item {
    font-size: 16px;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
