* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: blueviolet;
    color: white;
}

/* COMMON ITEMS */

[class*="txt"],
[class*="title"] {
    font-family: "Ubuntu", sans-serif;
    color: blueviolet;
    font-size: 20px;
}

[class*="txt"]::selection,
[class*="title"]::selection {
    background-color: blue;
    color: white;
}

.big-title {
    font-size: 44px;
    text-decoration: none;
}

.txt-link {
    text-decoration: none;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transition-property: color, transform;
}

[class*="link"]:hover {
    color: rgb(142, 125, 255);
    transform: scale(1.1);
}

[class*="link"]:active {
    color: rgb(255, 5, 111);
    transform: scale(0.9);
}

[class*="txt-btn"] {
    text-decoration: none;
    border: 2px solid rgb(100, 0, 151);
    background-color: blueviolet;
    color: azure;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transition-property: transform, background-color;
    grid-area: btn;
    text-align: center;
}

.txt-btn::selection {
    background-color: white;
    color: blueviolet;
}

.txt-btn:hover {
    transform: scale(1.1);
    background-color: rgb(192, 125, 255);
}

.txt-btn:active {
    transform: scale(0.9);
    background-color: rgb(99, 0, 191);
}


/* CONTAINERS */

[class*="container"] {
    gap: 20px;
}

[class*="flex-container"] {
    display: flex;
    align-items: center;
}

[class*="column-flex-container"] {
    flex-direction: column;
}

[class*="line-flex-container"] {
    flex-direction: row;
    justify-content: space-between;
}

.one-column-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-flex-container {
    display: flex;
    align-items: center;
}

.body {
    min-height: 100vh;
    width: 100%;
    padding: 40px;
    background-image: radial-gradient(aquamarine, purple);
}

[class*="main-container"] {
    width: 100%;
    min-width: 720px;
    max-width: 1600px;
    background-color: azure;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid darkmagenta;
}

[class|="cards"] {
    
}

/* END CONTAINERS */


/* MAIN-HEADER */

/* .main-header {
    justify-content: space-between;
} */

.main-container-header > .nav {
    justify-content: center;
}

.main-container-header > [class*="btn"] {
    /* В будущем будет перекидывать на вход сайта магазина*/
}

/* END MAIN-HEADER */


/* MAIN */

/* .main {
    flex-grow: 1;
} */

[class|="cards"] {
    /* Не были прописанны стили для контейнера, содержащего карточки товаров */
}

[class|="card"] {
    background-color: slategrey;
    color: black;
    padding: 20px;
    border-radius: 15px; /* tmp */
    box-shadow: rgb(112, 109, 116) 5px 5px 5px;

    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "img title"
        "img price"
        "txt txt"
        "btn btn";
}

.cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

[class|="card"] > [class*="title"] {
    color: azure;
    font-weight: 400;
    size: 28px;
    grid-area: title;
}

.card-price {
    color: azure;
    size: 24px;
    grid-area: price;
}

.txt {
    color: azure;
    grid-area: txt;
}

.img {
    display: block;
    width: 100%;
    grid-area: img;
}

/* END-MAIN */


/* MAIN-FOOTER */

.main-footer {
    justify-content: space-between;
}

/* END MAIN-FOOTER */